.container {
    width: 100%;
    height: 100vh;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #f9f9f9;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Contenedor del formulario de inicio de sesión */
.login-form {
    max-width: 600px;
    margin: 60px auto;
    padding: 40px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Título */
.login-form h1 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 40px;
    text-align: center;
    color: #fff;
    background-color: #f2bd68;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    transition: transform 0.3s ease-in-out;
}

.login-form h1:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

/* Formulario */
.form-group {
    width: 100%;
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.form-group input:focus {
    border-color: #aaa;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Botón de inicio de sesión */
.btn-primary {
    padding: 10px 20px;
    background-color: #f2bd68;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    font-size: 20px;
    font-weight: bold;
    transition: transform 0.3s ease-in-out;
}

.btn-primary:hover {
    background-color: #f5cb87;
    transform: translateY(-5px);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

/* Enlace de registro */
.signup-link {
    text-align: center;
    margin-top: 20px;
}

.signup-link a {
    color: #f2bd68;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.signup-link a:hover {
    color: #f5cb87;
}

/* Media queries para responsive design */
@media (max-width: 768px) {
    .login-form {
        max-width: 400px;
    }
}

@media (max-width: 480px) {
    .login-form {
        max-width: 300px;
    }
}