.reserva-final-container {
    max-width: 1000px;
    margin: 40px auto;
    padding: 30px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    text-align: center;
  }

  .alert-reserva-final{
    color: red;
    display: block;
    margin: 5px;
  }

  .h2-container {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 40px;
    text-align: center;
    color: #fff;
    background-color: #f2bd68;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    transition: transform 0.3s ease-in-out;
  }
  
  .h2-container h2 {
    margin: 0;
  }

  .h2-container:hover{
    transform: translateY(-10px);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  }
  
  .form-container {
    padding: 30px;
  }
  
  .form-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .form-group {
    flex-basis: 45%;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .form-group label {
    margin-right: 20px;
  }
  
  .form-group input[type="text"],
  .form-group input[type="email"],
  .form-group input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .form-posicion{
    display: felx;
    align-items: center;
  }

  .privacidad-label {
    flex-wrap: 1;
    margin-right: 0;
  }
  
  .diseño-check {
    width: 20px;
    height: 20px;
    margin: 0 auto;
    margin-left: 10px;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
  }
  
  .form-group input[type="checkbox"] {
    vertical-align: middle;
   
  }
  
  .form-group:hover input[type="text"],
  .form-group:hover input[type="email"],
  .form-group:hover input[type="number"] {
    border-color: orange;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  }


  
  button[type="submit"] {
  padding: 10px 20px;
  background-color: #f2bd68;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  font-size: 20px;
  font-weight: bold;
  transition: transform 0.3s ease-in-out;
}
  
  
  button[type="submit"]:hover {
    background-color: #f5cb87;
    transform: translateY(-5px);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  }
  
  /* Media query for responsive design */
  @media screen and (max-width: 800px) {
    .form-row {
      flex-direction: column;
    }
  
    .form-group {
      flex-basis: 100%;
    }
  }